<%- include("header") -%>

<h2>This is a about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati similique
  dignissimos ducimus natus! Minus maiores error nesciunt. Sit perspiciatis
  distinctio quaerat sunt, maiores corporis quos assumenda, tempore veritatis
  soluta ad.
</p>
<%- include("footer") -%>
